In [1]:
 mark=int(input("enter your mark"))
 if mark>50 :
   print("you are pass")
 if mark<50 :
     print("you are failed")

enter your mark55
you are pass

In [2]:
mark=int(input("enter your mark"))
if mark>50 :
  print("you are pass")
elif mark==50:
    print("just pass")
else:
    print("your failed")

enter your mark36
your failed

In [3]:
s=int(input("enter salary"))
if s>=250000:
  print("you are taxable")
  x=s-250000
  print ("tax ",x*10/100)
elif s<250000:
  print("your not taxable")

enter salary225555
your not taxable

In [4]:
s=int(input("enter salary"))
if s>=250000:
  print("you are taxable")
  x=s-250000
  print ("tax ",x*10/100)
elif s<250000:
  print("your not taxable")

enter salary254555
you are taxable
tax  455.5