<a href="https://colab.research.google.com/github/aleenaann007/python-basics/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=(input("enter passenger travel source"))
y=(input("enter passenger travel destination"))
z=int(input("enter total passenger"))
print(x)
print(y)
print(z)

enter passenger travel sourcekochi to kottayam
enter passenger travel destinationkottayam
enter total passenger44
kochi to kottayam
kottayam
44

In [ ]:
x=int(input("enter total ticket fare"))
y=int(input("enter number of passenger"))
print("ticket fare per person",x/y)

enter total ticket fare22
enter number of passenger44
ticket fare per person 0.5

In [ ]:
x=(input("passenger name"))
y=int(input("ticket fare"))
print("passenger name",x,"ticket fare",y)

passenger namealeena
ticket fare200
passenger name aleena ticket fare 200

In [ ]:
x=int(input("enter total fare"))
if x>10000 :
  print("eligable for discount")
else :
  print("not eligable for discount")

enter total fare10000
not eliable for discount

In [ ]:
x=int(input("enter total fare"))
if x>50000 :
  print( "eligable for 20% discount")
else :
  print("eligable for 10% discount")

enter total fare70000
eligable for 20% discount

In [ ]:
x=int(input("enter total fare"))
if x>15000 :
  print( "eligable for 20% discount")
  print(x*80/100)
elif x>10000:
  print("eligable for 10% discount")
  print(x*90/100)
if x<10000 :
  print( "eligable for 5% discount")
  print(x*95/100)

enter total fare25000
eligable for 20% discount
20000.0

In [ ]:
x=int(input ("enter a number"))
if x>0:
  print("possitive")
elif x<0:
    print ("negitive")
else:
      print("zero")

enter a number-20
negitive

In [ ]:
x=int(input("enter the age"))
if x>18:
  print("adult")
elif x>=13 and x<=18:
  print("teenager")
elif x>=6 and x<=12:
  print("kid")  
elif x>=2 and x<=5:
  print("toddler")
else:
  print("infant")

enter the age60
adult

In [ ]:
x=(input("passenger intial"))
if x=="A":
  print("vowel")
elif x=="E":
    print("vowel")
elif x=="I":
  print("vowel")
elif x=="O":
  print("vowel")
elif x=="u":
  print("vowel")  
else:
  print("not vowel")

passenger intialA
vowel