<a href="https://colab.research.google.com/github/aleenaann007/python-basics/blob/main/untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 mark=int(input("enter your mark"))
 if mark>50 :
   print("you are pass")
 if mark<50 :
     print("you are failed")

enter your mark80
you are pass

In [ ]:
mark=int(input("enter your mark"))
if mark>50 :
  print("you are pass")
elif mark==50:
    print("just pass")
else:
    print("your failed")

enter your mark50
just pass

In [ ]:
s=int(input("enter salary"))
if s>=250000:
  print("you are taxable")
  x=s-250000
  print ("tax ",x*10/100)
elif s<250000:
  print("your not taxable")

enter salary300000
you are taxable
tax  5000.0

In [ ]:
s=int(input("enter salary"))
if s>=250000:
  print("you are taxable")
  x=s-250000
  print ("tax ",x*10/100)
elif s<250000:
  print("your not taxable")

enter salary300000
you are taxable
tax  5000.0

In [ ]:
s=int(input("enter salary"))
if s>=250000 and s<=500000:
  print("your taxable")
  print("tax ",s*10/100)
elif s>500000:
  print("your taxable")
  print("tax" <s*20/100)
elif s<250000:
  print("your not taxable")

enter salary400000
your taxable
tax  40000.0

In [ ]:
s=int(input("enter salary"))
if s>=250000 and s<=500000:
  print("your taxable")
  x=s-250000
  print("tax ",x*10/100)
elif s>500000:
  print("your taxable")
  x=s-250000
  print("tax", x*20/100)
elif s<250000:
  print("your not taxable")

enter salary300000
your taxable
tax  5000.0