<a href="https://colab.research.google.com/github/aleenaann007/python-basics/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name= input("enter the name")
print(name)

enter the namealeena
aleena

In [ ]:
mark1= int(input("enter mark"))
mark2=int(input("enter mark"))
mark3=int(input("enter mark"))
total=mark1+mark2+mark3
print(total)

enter mark22
enter mark33
enter mark39
94

In [ ]:
avg=total/3
print(avg)

31.333333333333332

In [ ]:
m1=int(input("enter mark"))
m2=int(input("enter mark"))
if m1>m2 :
  print(m1," is greater")
else :
  print(m2 ," is greater")

enter mark21
enter mark5
21  is greater

In [ ]:

m1=int(input("enter mark"))
m2=int(input("enter mark"))
m3=int(input("enter mark"))
if m1>m2 :
  print(m1 , " is greater")
elif m2>m3 :
   print(m2 ,"is greater")
elif  m3>m1 :
   print(m3 ," is greater")

enter mark44
enter mark33
enter mark22
44  is greater

In [ ]:
m1=int(input(" enter number"))
m2=int(input("enter number"))
m3=int(input("enter number"))
if m1>m2 and m1>m3 :
  print(m1, " is greatest")
if m2>m1 and m2>m3 :
    print (m3, " is greatest")
else:
  print(m3," is largest")

 enter number50
enter number100
enter number900
900  is largest

In [ ]:
 m1 = int(input("enter mark"))
if m1%2 == 0 :
   print ("its even")
else :
  print("odd")

enter mark11
odd

In [ ]:

for i in range(1,11) :
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11) :
  if i%2== 0 :
    print(i)

2
4
6
8
10

In [ ]:
for i in range (5,51) :
 if i%5== 0 :
  print(i)

5
10
15
20
25
30
35
40
45
50